@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.borderTop {
  width: 100%;
  padding: 0 10px;
}

.border {
  width: 100%;
  height: 40px;
  border-top: 1px solid rgb(87, 74, 92);
}

.sidebarContentWrapper {
  width: 100%;
  display: flex;
  height: auto;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.sidebar {
  background-image: url("../../assets/images/campagne1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 1420px;
  margin-right: 10px;
}
@media only screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

.sidebar2 {
  background-image: url("../../assets/images/campagne2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 1420px;
  margin-left: 10px;
}
@media only screen and (max-width: 1200px) {
  .sidebar2 {
    display: none;
  }
}

.content2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  background-color: transparent;
  margin: 0 auto;
  color: rgb(76, 61, 78);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1200px) {
  .content2 {
    width: 96%;
  }
}

.btns {
  margin: 20px auto;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.paginationBtn {
  width: 50px;
  height: 50px;
  border-style: none;
  color: rgb(91, 81, 105);
  background-color: rgb(240, 236, 245);
  box-shadow: 0px 1px 2px rgb(132, 116, 141);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.paginationBtn.active {
  background-color: rgb(169, 149, 173);
  color: white;
}