@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 2px 5px rgb(69, 60, 80);
  z-index: 999;
  transition: top 0.5s ease-in-out;
}
@media only screen and (max-width: 800px) {
  .header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 90px;
  }
}
@media only screen and (max-width: 410px) {
  .header {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
.header_hide {
  top: -140px;
}
.header_france {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(37, 30, 44);
  color: rgb(170, 142, 170);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
@media only screen and (max-width: 800px) {
  .header_france {
    display: none;
  }
}
.header_content {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-direction: row;
  padding: 0 50px;
}
@media only screen and (max-width: 410px) {
  .header_content {
    padding: 0 10px;
  }
}
.header_content_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
@media only screen and (max-width: 510px) {
  .header_content_title {
    margin-bottom: 0;
  }
}
.header_content_iconandtitle {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
@media only screen and (max-width: 510px) {
  .header_content_iconandtitle > img {
    display: none;
  }
}
.header_content_ellieName {
  font-family: "Chopin";
  color: rgb(55, 39, 75);
  font-size: 3rem;
}
@media only screen and (max-width: 510px) {
  .header_content_ellieName {
    font-size: 2.6rem;
  }
}
.header_content_your_castle {
  position: absolute;
  font-size: 15px;
  font-family: "Times";
  top: 65px;
}
@media only screen and (max-width: 800px) {
  .header_content_your_castle {
    top: 60px;
  }
}
@media only screen and (max-width: 510px) {
  .header_content_your_castle {
    display: none;
  }
}

.buttons {
  width: 340px;
}
.buttons_btn {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px 50px;
  border: 2px solid rgb(82, 66, 82);
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 0.8rem;
}
.buttons_btn:hover {
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgb(96, 77, 102);
}
@media only screen and (max-width: 800px) {
  .buttons {
    display: none;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: flex;
  }
}

.menuOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  right: -100%;
  background-color: rgba(96, 83, 109, 0.7);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.show {
  right: 0;
}

.buttons_btnOverlay {
  margin-top: 50px;
  width: 120px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px 50px;
  border: 2px solid rgb(197, 174, 197);
  background-color: rgb(70, 54, 77);
  color: rgb(206, 188, 214);
  cursor: pointer;
  font-size: 0.8rem;
}

.buttons_btnOverlay:hover {
  border: 2px solid rgb(221, 212, 226);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgb(43, 33, 46);
  color: rgb(227, 219, 231);
}