@import '../abstracts/global';
@import '../abstracts/variables';
@import '../abstracts/mixins';


.selectMenus {
    max-width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px  20px 30px 20px;
    @include respond5(contentBreak){
            flex-direction: column;
        }
}

.select {
     display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 38px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(129, 108, 129);
    border: 1px solid #967e96;
    letter-spacing: 3px;
    word-spacing: 3px;
    @include respond2(gridcontainer){
            font-size: .9rem;
            letter-spacing: 2px;
        }
     @include respond5(contentBreak){
            width: 300px;
            font-size: .8rem;
        }
}

.selectBox {
   width: 280px;
   @include respond5(contentBreak){
            width: 300px;
            margin-top: 10px;
        }
}