@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';


.content2 {
    width: 1080px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    color: rgb(76, 61, 78);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;

    &_property {
        position: relative;
        margin-bottom: 20px;
        @include spacebetween-content;
        width: 96%;
        box-shadow: 0px 1px 3px rgb(145, 140, 148);
        background-color: rgb(240, 236, 245);
        border-bottom: 2px solid rgb(159, 140, 173);
        @include respond5(contentBreak){
            width: 305px;
             @include center-content-column;
        }
    }

    &_castleImage {
        padding: 10px;
        display: block;
        width: 300px;
    }

    &_info {
        width: 30%;
        height: auto;
        margin: 10px 0;
        @include center-content-column-start-top;
        @include respond5(contentBreak){
            width: 100%;
            margin-left: 20px;
            margin-bottom: 0;
        }
      
        .title {
            font-size: 1.2rem;
            margin-bottom: 20px;
            @include respond5(contentBreak){
            margin-bottom: 10px;
        }

            & h4 {
                color: rgb(81, 61, 90);
            }
        }

        .location {
            line-height: 1.6;
            font-size: .8rem;

            & span {
                font-weight: bold;
            }
        }


        .icons {
            margin-top: 20px; 
            @include center-content-row;

            & :not(:first-child) {
                border-left: 1px solid rgb(50, 42, 59);
                padding-left: 10px;
            }

            & .icon {
                height: 20px;
                padding-right: 10px;
                @include center-content-row;

            & img {
                margin-left: 5px;
            }
        }
        }

        .price {
            margin-top: 20px;
            
            & span {
                font-weight: bold;
            }
        }
    }
}

.btns {
    margin: 20px auto;
    width: 165px;
    @include spacebetween-content;
}

.paginationBtn {
    width: 50px;
    height: 50px;
    border-style: none;
    color: rgb(91, 81, 105);
    background-color: rgb(240, 236, 245);
    box-shadow: 0px 1px 2px rgb(132, 116, 141);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;

    &.active {
        background-color: rgb(169, 149, 173);
         color: white;
    }
}
