@import '../abstracts/global';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    position: relative;
    width: 100%;
    height: 48rem;
    background-color: rgb(20, 17, 26);
    @include center-content-column-top;
    @include respond2(gridcontainer) {
          height: 65rem;
    }

    @include respond5(contentBreak) {
          height: 125rem;
    }
    
    &_content_gridContainer {
    width: 100%;
    box-shadow: 0px 12px 18px black;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    

    @include respond2(gridcontainer) {
          grid-template-columns: repeat( 2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 1px; 
          background-color: rgb(70, 59, 80);
          & :nth-of-type(5){
          order:1;
        }
      }

    @include respond5(contentBreak) {
          grid-template-columns: repeat( 1, 1fr);
          grid-template-rows: repeat(6, 1fr);
          gap: 1px; 
          background-color: rgb(70, 59, 80);
    }
    }

    &_content_box.two, .four,.six{
          background-color: rgb(35, 26, 39);
          @include respond2(gridcontainer) {
          background-color: rgb(20, 17, 26);
    }
    }
    
    &_content_box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            height: 18rem;
            color: rgb(148, 129, 156);
            padding: 20px;
            background-color: rgb(20, 17, 26);

            .icons {
                  @include center-content-row;

                  .icon {
                        padding: 5px;
                  }
            }

            & img {
               width: 75px;
               margin-top: 12px;
            }

            &.icontitle {
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;

              @include respond5(contentBreak) {
              align-items: center;
              justify-content: center;
              
    }
            }
    }

    &_content_title {
            @include center-content-column;
            margin-bottom: 20px;
        }
       
    &_content_ellieName {
          font-family: $elliefont;
          color: $elliecolorlight;
          font-size: 3rem;
      }

    &_content_your_castle {
          font-size: 15px;
          color: $elliecolorlight;
          font-family:'Times';
          top: 65px;
      }

      .allrightsreserved {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 30px;
            background-color: black;
            color:rgb(88, 71, 92);
            @include center-content;
            font-size: .8rem;
      }
}


.offices {
      position: absolute;
      bottom: 50px;
      width: 95%;
      @include center-content-row;
      height: 7rem;
      display: grid;
      grid-template-columns: repeat( 4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      color:  rgb(146, 124, 151);
      gap: 1px;  
      @include respond5(contentBreak) {
          grid-template-columns: repeat( 2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          font-size: 12px;
          bottom: 90px;
           height: 9rem;
    }
      & .office {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 100%;
            @include respond5(contentBreak) {
           padding: 20px;
    }

           .loc-address {
                 display: flex;
                 align-items: flex-start;
                 justify-content: center;
                 flex-direction: column;

                 &.bern {
                       padding-right: 25px;
                 }
           }

           &_region {
                 display: flex;
                 align-items: center;
                 justify-content: flex-start;
           }
      }
}

// .child:not(:nth-child(3n)) {
//   border-right: var(--border);
// }

// .child:not(:nth-last-child(-n + 3)) {
//   border-bottom: var(--border);
// }