@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.header {
    width: 100%;
    @include center-content-column;
    position: fixed;
    top: 0;
    height: 140px;
    background-color: rgba(194, 188, 207, 0.45);
    box-shadow: 0px 2px 5px rgb(69, 60, 80);
    z-index: 999;
    transition: top .5s ease-in-out;

    @include respond(hamburgermenu) {
        background-color: rgba(255, 255, 255, .5);
        height: 90px;
    }
    @include respond7(headername){
                background-color: rgba(255, 255, 255, .6);
            }
    @include respond3(smallest){
                height: 70px;
            }

    &_hide {
        top: -140px;
    }

    &_france {
        width: 100%;
        height: 50px;
        @include center-content;
        background-color: $dominantbackground;
        color: rgb(198, 191, 211);
        font-family: Arial, Helvetica, sans-serif;
        font-size: .8rem;
        @include respond(hamburgermenu) {
        display: none;
        }
    }

    &_content{
        width: 100%;
        height: 120px;
        position: relative;
        @include spacebetween-content;
        flex-direction: row;
        padding: 0 30px;
         @include respond7(headername){
               padding: 0 10px;
            }
             @include respond4(ellielogo){
              padding: 0 10px;
            }
        }

        &_content_title {
            @include center-content-column;
            margin-bottom: 20px;
            @include respond4(ellielogo){
              margin-bottom: 0;
            }
        }

        &_content_iconandtitle {
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }

        &_content_iconandtitle > img {
            @include respond4(ellielogo){
               display: none;
            }
        }
       
        &_content_ellieName {
          font-family: $elliefont;
          color: rgb(105, 0, 0);
          font-size: 2.4rem;
           @include respond4(ellielogo){
                font-size: 2.6rem;
            }
            @include respond3(smallest){
               font-size: 2.6rem;
            }
        }

        &_content_your_castle {
          position: absolute;
          font-size: 13px;
         color: rgb(122, 0, 0);
          font-family:'Times';
          top: 65px;
          @include respond(hamburgermenu) {
          top: 60px;
        }
        @include respond4(ellielogo){
              display: none;
            }
        }
}

.frame2_driehoek {
                width: 12px;
                height: 12px;
                background-color: #fff;
                border-top: 6px solid rgb(170, 0, 0);
                border-left: 6px solid rgb(94, 4, 4);
                border-bottom: 6px solid rgb(17, 0, 0);
                border-right: 6px solid  rgb(94, 0, 0);
                margin: 0 20px;
                rotate: 45deg;
                box-shadow: 0px 2px 2px rgb(46, 0, 0)
}


.buttons {
    width: auto;

    &_btn {
        width: 100px;
        margin-right: 5px;
        padding: 10px;
        border-radius: 5px calc(5px * 10);
        border: 2px solid rgb(94, 0, 0);
        background-color: transparent;
        color:  rgb(78, 0, 0);
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
        font-size: .8rem;
    }

    &_btn:hover {
        transform: scale(1.05);
        transition: .3s ease-in-out;
        color:  rgb(219, 180, 51);
        box-shadow: 0px 2px 4px rgb(66, 58, 68);
          border: 2px solid rgb(219, 180, 51);
    }

    @include respond(hamburgermenu) {
        display: none;
    }
}

.hamburger {
    display: none;
    @include respond(hamburgermenu) {
        display: flex;
    }
     @include respond3(smallest) {
       width: 30px;
    }
    
    cursor: pointer;
}

.menuOverlay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    width: 200px;
    bottom: 0;
    top: 90px;
    right: -210px;
    background-image: linear-gradient(to left, rgb(56, 0, 0), rgb(102, 0, 0));
    transition: .3s ease-in-out;
    z-index: 5;
    @include respond3(smallest){
                top: 70px;
    }
}

.toTop {
    top: 0;
    right: 0;
}

.show {
   right: 0;
}

.buttonsBox {
    @include center-content-column;
    width: 200px;
}

.buttons_btnOverlay {
    margin-top: 40px;
    width: 120px;
    padding: 15px;
    border-radius: 5px calc(5px * 10);
    border: 2px solid rgb(186, 175, 196);
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
    background-color: transparent;
    color:  rgb(208, 201, 219);
    cursor: pointer;
    font-size: .8rem;
}

.buttons_btnOverlay:hover {
        border: 2px solid rgb(221, 212, 226);
        transition: .3s ease-in-out;
        box-shadow: 0px 4px 10px rgb(24, 22, 27);
        color:  rgb(240, 235, 243);
    }