@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.header {
    width: 100%;
    @include center-content-column;
    position: fixed;
    top: 0;
    height: 140px;
    background-color: rgba(255, 255, 255, .35);
    box-shadow: 0px 2px 5px rgb(69, 60, 80);
    z-index: 999;
    transition: top .5s ease-in-out;

    @include respond(hamburgermenu) {
        background-color: rgba(255, 255, 255, .5);
        height: 90px;
    }
    @include respond7(headername){
                background-color: rgba(255, 255, 255, .6);
            }

    &_hide {
        top: -140px;
    }

    &_france {
        width: 100%;
        height: 50px;
        @include center-content-column;
        background-color: rgb(37, 30, 44);
        color: rgb(170, 142, 170);
        font-family: Arial, Helvetica, sans-serif;
        font-size: .8rem;

        @include respond(hamburgermenu) {
        display: none;
        }
    }

    &_content{
        width: 100%;
        height: 120px;
        position: relative;
        @include spacebetween-content;
        flex-direction: row;
        padding: 0 50px;
         @include respond7(headername){
               padding: 0 10px;
            }
             @include respond4(ellielogo){
              padding: 0 10px;
            }
            
    }

        &_content_title {
            @include center-content-column;
            margin-bottom: 20px;
            @include respond4(ellielogo){
              margin-bottom: 0;
            }
        }

        &_content_iconandtitle {
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }

        &_content_iconandtitle > img {
            @include respond4(ellielogo){
               display: none;
            }
        }
       
        &_content_ellieName {
          font-family: $elliefont;
          color: $elliecolor;
          font-size: 3rem;
           @include respond4(ellielogo){
                font-size: 2.6rem;
            }
      }

        &_content_your_castle {
          position: absolute;
          font-size: 15px;
          font-family:'Times';
          top: 65px;
          @include respond(hamburgermenu) {
          top: 60px;
        }
        @include respond4(ellielogo){
              display: none;
            }
      }
}


.buttons {
    width: 340px;

    &_btn {
        width: 100px;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px calc(5px * 10);
        border: 2px solid rgb(82, 66, 82);
        background-color: transparent;
        color:  rgb(0, 0, 0);
        cursor: pointer;
        font-size: .8rem;
    }

    &_btn:hover {
        border: 2px solid white;
        transition: .3s ease-in-out;
        box-shadow: 0px 2px 4px rgb(96, 77, 102);
    }

    @include respond(hamburgermenu) {
        display: none;
    }
}

.hamburger {
    display: none;
    @include respond(hamburgermenu) {
        display: flex;
    }
    cursor: pointer;
}

.menuOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    right: -100%;
    background-color: rgb(96, 83, 109, .7);
    transition: .3s ease-in-out;
    z-index: 2;
}

.show {
   right: 0;
}

.buttons_btnOverlay {
    margin-top: 50px;
    width: 120px;
        margin-right: 10px;
        padding: 15px;
        border-radius: 5px calc(5px * 10);
        border: 2px solid rgb(197, 174, 197);
        background-color: rgb(70, 54, 77);
        color:  rgb(206, 188, 214);
        cursor: pointer;
        font-size: .8rem;
}

.buttons_btnOverlay:hover {
        border: 2px solid rgb(221, 212, 226);
        transition: .3s ease-in-out;
        box-shadow: 0px 2px 6px rgb(43, 33, 46);
        color:  rgb(227, 219, 231);
    }