@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.estateInfoPopup {
    display: flex;
    position: fixed;
    background-color: rgba(105, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    @include center-content;
   

    &_estateInfoBox {
        @include center-content-column-top;
        background-color: rgb(255, 255, 255);
        top:0;
        left:0;
        width: 60%;
        height: 38vh;
        box-shadow: 0px 0px 40px rgb(19, 0, 0);
        animation-name: popup;
        animation-duration: .5s;
        color:rgb(97, 0, 0);
        padding: 50px;

        &_header {
            width: 100%;
            margin: 10px 0 20px 0;
            @include center-content;
            padding: 10px 0;
            color: white;
            background-color:  rgb(31, 31, 31);
            border-bottom: 1px solid rgb(75, 0, 0);
            border-top: 1px solid rgb(75, 0, 0);
        }

        &_gridContainer {
            gap: 20px;
            @include center-content-row;

            & .estateImage {
                width: 25%;
                @include center-content;
                box-shadow: 0px 1px 2px rgb(99, 90, 112);

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.hide {
    display: none;
}