@import '../abstracts/global';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    transition: .5s ease-in-out;

    .vote {
   position: absolute;
   @include center-content-column-start;
   width: 55px;
   height: 200px;
   top: 31.5%;
   left: 0;
   z-index: 999;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
   background-color: rgb(60, 49, 73);

   @include respond2(gridcontainer){
        @include center-content-row;
        width:180px;
        height: 55px;
        top: 140px;
        border-radius: 0;
   }

   @include respond(hamburgermenu){
       display: none;
   }

   button {
       border-style: none;
       outline: none;
   }

   &_number {
        @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(103, 92, 121);
       padding-right: 5px;
       cursor: pointer;
        @include respond2(gridcontainer){
           width: 33%;
           height: 100%;
           padding-right: 0;
         }
       .rating {
          color: rgb(104, 185, 177);
          font-size: 1.4rem;
          font-weight:  bold;
       }

       .rate-us {
          color: rgb(163, 163, 163);
          font-size: .8rem;
       }
   }

   &_share {
       @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(75, 66, 88);
       padding-right: 5px;
       @include respond2(gridcontainer){
           width: 33%;
           height: 100%;
           padding-right: 0;
           padding-top: 5px;
         }
        cursor: pointer;
       .rate-us {
          color: rgb(163, 163, 163);
          font-size: .8rem;
          padding-top: 2px;
       }
   }

   &_like {
       @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(27, 22, 34);
       padding-right: 5px;
       color:rgb(163, 163, 163);
       cursor: pointer;
       @include respond2(gridcontainer){
           width: 33%;
           height: 100%;
           padding-right: 0px;
           padding-top: 5px;
         }
        .rate-us {
          color: rgb(136, 136, 136);
          font-size: .8rem;
       }
     }
  }
}

.voteModal {
    position: relative;
    @include center-content;
    top: 50vh;
    right: 0;
    background-color: rgb(84, 67, 94, .7);
    z-index:999;
    transition: .5s ease-in-out;

    &_content {
        position: absolute;
        width: 300px;
        height: 200px;
        @include center-content-column;
        border-radius: 10px;
        padding: 5px;
        border: 2px solid rgb(172, 161, 185);
        background-color:  rgb(124, 109, 138, 0);
        box-shadow: 0px 0px 30px rgb(0, 0, 0);

        &_box {
            @include spacebetween-content;
            width: 100%;
            height: 40px;
            padding: 8px;
            border-radius: 10px;
            margin-bottom: 2px;
            background-color:  rgba(197, 182, 206, 1);
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(17, 15, 20);

            .closeModal {
                padding-right: 10px;
                cursor: pointer;
            }
        }
    }

    &_content_numbers {
        width: 100%;
        height: 90%;
        gap: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &_content_numbers div {
        height: 100%;
        width: 100%;
        border-radius: 10px;
         @include center-content;
         background-color:  rgba(197, 182, 206, 1);
         font-size: 1.6rem;
         font-family: Arial, Helvetica, sans-serif;
         color: rgb(30, 25, 39);
         cursor:pointer;
    }
}

.selectRating {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: rgb(103, 92, 121);
}

.showOptions {
        display: flex;
        left: 55px;
}

.homepage_image {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .awards {
        position: absolute;
        bottom: 25%;
        right: 8%;
        @include respond1(removeSidebar){
                   bottom: 35%;
              }
              @include respond2(gridcontainer){
                   bottom: 25%;
              }
         @include respond8(removeaward){
              display: none;
        }
        .award {
            width: 180px;
            rotate: 15deg;
            -webkit-filter: drop-shadow(0px 3px 1px rgb(12, 0, 0));
              filter: drop-shadow(0px 3px 1px rgb(49, 44, 54));

              @include respond10(thirteenhundred){
                   width: 130px;
              }
              @include respond1(removeSidebar){
                   width: 120px;
              }
              @include respond2(gridcontainer){
                   width: 100px;
              }

              @include respond(hamburgermenu){
                   width: 80px;
              }
        }
    }
    
    .your_dream {
        @include center-content-column;
        font-family:'Arial';
        font-size: 2rem;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 120px;
        word-spacing: 5px;
        letter-spacing: 5px;
        font-weight: bold;
        background-color: rgb(27, 22, 34);
        border-top: 1px solid rgb(110, 100, 126);
        border-bottom: 1px solid rgb(110, 100, 126);

        @include respond10(thirteenhundred){
                   background-color: transparent;
                   color: rgb(129, 108, 129);
                   border: 0;
                   border-top: 0;
              }

        @include respond2(gridcontainer){
              font-size: 1.6rem;
               bottom: -10px;
        }

        @include respond5(contentBreak){
           bottom: -10px;
        }

        @include respond6(castlesandchateaux){
           bottom: -30px;
        }

        @include respond(hamburgermenu) {
        font-size: 1.4rem;
       bottom: -20px;
        }

         @include respond9(sidebarDelete){
           bottom: -50px;
        }

        @include respond3(smallest){
            font-size: 1.2rem;
        //  width: 310px;
        }

        @include respond8(removeaward){
              font-size: 1.2rem;
        }
    }

    .castlesandchateaux {
         @include center-content-row;
        color:rgb(168, 140, 168);
        width: 100%;
         @include respond10(thirteenhundred){
                   color:rgb(97, 73, 97);
              }
    }

    .luxury_real_estate {
        font-family:'Arial';
        font-size: 1rem;
        margin-top: 10px;
        width: 100%;
        color: rgb(112, 85, 112);
        padding-bottom: 10px;
        @include center-content-row;

         @include respond2(gridcontainer){
             width: 500px;
              font-size: .9rem;
              letter-spacing: 2px;
              padding-bottom: 0px;
        }

        @include respond(hamburgermenu) {
        font-size: .8rem;
        width: 500px;
        word-spacing: 0;
        letter-spacing: 3px;
    }

        @include respond9(removeaward){
              letter-spacing: px;
        }

        @include respond3(smallest){
         font-size: .8rem;
         width: 340px;
         letter-spacing: 0px;
        }
    }

        @include respond4(ellielogo){
             margin-bottom: 20px;
        }

.c5_image {
    width: 100%;
    height: auto;
    }
}
