@import '../abstracts/global';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0px;

    .vote {
   position: absolute;
   @include center-content-column-start;
   width: 55px;
   height: 200px;
   top: 37%;
   left: 0;
   z-index: 999;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
   background-color: rgb(60, 49, 73);

   &_number {
        @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(103, 92, 121);
       padding-right: 5px;
       .rating {
          color: rgb(104, 185, 177);
          font-size: 1.4rem;
          font-weight:  bold;
       }

       .rate-us {
          color: rgb(163, 163, 163);
          font-size: .8rem;
       }
   }

   &_share {
       @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(75, 66, 88);
       padding-right: 5px;
       .rate-us {
          color: rgb(163, 163, 163);
          font-size: .8rem;
       }
   }

   &_like {
       @include center-content-column;
       width: 100%;
       height: 33%;
       background-color: rgb(57, 49, 68);
       padding-right: 5px;
       color:rgb(163, 163, 163);
        .rate-us {
          color: rgb(136, 136, 136);
          font-size: .8rem;
       }
   }
}
}



.homepage_image {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .awards {
        position: absolute;
        bottom: 35%;
        right: 8%;
        @include respond1(removeSidebar){
                   bottom: 35%;
              }
              @include respond2(gridcontainer){
                   bottom: 25%;
              }
         @include respond8(removeaward){
              display: none;
        }
        .award {
            width: 180px;
            rotate: 15deg;
            -webkit-filter: drop-shadow(0px 3px 1px rgb(12, 0, 0));
              filter: drop-shadow(0px 5px 1px rgb(49, 44, 54));

              @include respond10(thirteenhundred){
                   width: 130px;
              }
              @include respond1(removeSidebar){
                   width: 120px;
              }
              @include respond2(gridcontainer){
                   width: 100px;
              }

              @include respond(hamburgermenu){
                   width: 80px;
              }
        }
    }
    
    .your_dream {
        @include center-content-column;
        font-family:'Arial';
        font-size: 2rem;
        position: absolute;
        bottom: 20px;
        width: 100%;
        heighT: 100px;
        color: rgb(129, 108, 129);
        word-spacing: 5px;
        letter-spacing: 5px;
        font-weight: bold;

        @include respond2(gridcontainer){
              width: 445px;
              font-size: 1.6rem;
               bottom: 0px;
        }

        @include respond5(contentBreak){
           bottom: -10px;
        }

        @include respond6(castlesandchateaux){
           bottom: -30px;
        }

        @include respond(hamburgermenu) {
        font-size: 1.4rem;
         width: 420px;
        }

         @include respond9(sidebarDelete){
           bottom: -40px;
        }

        @include respond3(smallest){
            font-size: 1.2rem;
         width: 310px;
        }

        @include respond8(removeaward){
              font-size: 1.2rem;
        }
    }

    .castlesandchateaux {
         @include center-content-row;
        color:rgb(97, 73, 97);
        width: 100%;
    }

    .luxury_real_estate {
        font-family:'Arial';
        font-size: 1rem;
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
        @include center-content-row;

         @include respond2(gridcontainer){
             width: 500px;
              font-size: .9rem;
              letter-spacing: 2px;
              padding-bottom: 0px;
        }

        @include respond(hamburgermenu) {
        font-size: .8rem;
        width: 500px;
        word-spacing: 0;
        letter-spacing: 3px;
    }

        @include respond9(removeaward){
              letter-spacing: px;
        }

        @include respond3(smallest){
         font-size: .8rem;
         width: 340px;
         letter-spacing: 0px;
        }
    }

        @include respond4(ellielogo){
             margin-bottom: 20px;
        }

.c5_image {
    width: 100%;
    height: auto;
    }
}
