@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.newsLetter{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    background-image: linear-gradient(to top, rgb(63, 0, 0),  rgb(85, 0, 0));
    color:  rgb(186, 166, 194);
    border-top: 1px solid rgb(124, 0, 0);
    border-bottom: 2px solid rgb(24, 0, 0);
    padding: 15px 20px 15px 20px;

     &_footer {
       width: 100%;
       margin-top: 20px;
       margin-bottom: 20px;
       @include center-content-row-start;
         color:rgb(141, 0, 0);
         @include respond6(castlesandchateaux){
          margin-top: 10px;
       }
    }
}

.newsLetter_top {
       width: 100%;
       height: 40px;
       display:flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1rem;
       border-bottom: 1px solid  rgb(186, 166, 194);
        &_header {
            width: 100%;
        }
}

.form {
  width: 100%;
}

.newsLetter_inputfields {
       width: 100%;
       display:flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: row;
       margin-top: 20px;
       @include respond6(castlesandchateaux){
          flex-direction: column;
       }

       & ::placeholder {
         color: rgb(148, 141, 158);
       }

       &_name2 {
         width: 100%;
        display:flex;
       align-items: flex-end;
       justify-content: center;
       flex-direction: column;
       @include respond6(castlesandchateaux){
           width: 100%;
       }

       .sendRequestBtn {
         width: 100%;
         @include respond6(castlesandchateaux){
           width: 100%;
       }
      }
    
       & button {
           width: 100%;
           height: 37px;
           margin-top: 0px;
           border-style: none;
           outline: none;
           border-top: 1px solid rgb(245, 0, 0);
           box-shadow: 0px 2px 2px rgb(51, 0, 0);
           background-color:rgb(128, 0, 0);
           color: rgb(217, 210, 228);
         }
        
       }

       & input {
         width: 100%;
         margin-bottom: 40px;
         height: 37px;
         border-style: none;
         border-bottom: 1px solid rgb(199, 191, 209);
         color: rgb(193, 184, 207);
         outline: none;
         
         font-size: .9rem;
          background-color: transparent;
          @include respond6(castlesandchateaux){
           width: 100%;
           padding-left: 0px;
       }
       }
}
