@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.newsLetter{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    background-image: linear-gradient(to bottom,  rgb(50, 43, 59),  rgb(50, 43, 59, .2));
    color: rgb(178, 168, 196);
    margin-top: 0px;
    border-top: 1px solid rgb(121, 112, 131);
    border-bottom: 2px solid rgb(6, 5, 7);
    padding: 20px;
}

.newsLetter_close {
       width: 100%;
       height: 40px;
       display:flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1rem;
       border-bottom: 1px solid rgb(149, 140, 161);
        &_header {
            width: 100%;
        }
}

.form {
  width: 100%;
}

.newsLetter_inputfields {
       width: 100%;
       display:flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: row;
       margin-top: 20px;

       &_name {
         width: 50%;
        display:flex;
       align-items: flex-start;
       justify-content: center;
       flex-direction: column;
       }

       &_name2 {
         width: 50%;
        display:flex;
       align-items: flex-end;
       justify-content: center;
       flex-direction: column;

       .sendRequestBtn {
         width: 98%;
    
       & button {
           width: 100%;
           height: 40px;
           margin-top: 0px;
           border-style: none;
            
           outline: none;
           border-top: 1px solid rgb(255, 8, 8);
           box-shadow: 0px 2px 2px rgb(90, 0, 0);
           background-image: linear-gradient(to top, rgb(94, 0, 0), rgb(184, 0, 0));
           color: white;
         }
        }
       }

    //    & label {
    //      width: 98%;
    //      display:block;
    //      color: rgb(171, 162, 189);
    //      font-size: .9rem;
    //      margin-bottom: 10px;
    //    }

       & input {
         width: 98%;
         margin-bottom: 40px;
         height: 40px;
         padding-left: 5px;
         border-style: none;
         border-bottom: 1px solid rgb(165, 154, 180);
         color: rgb(193, 184, 207);
         outline: none;
         
         font-size: .9rem;
          background-color: transparent;
       }

}
