@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';


.searchFields {
    max-width: 96%;
    @include center-content-row;
    margin: 0px  20px 30px 20px;
    @include respond5(contentBreak){
            flex-direction: column;
        }
}

.searchOptions {
    width: 300px;
    height: 40px;
    font-size: 1rem;
    color: rgb(132, 116, 141);
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
     @include center-content;
     border: 1px solid rgb(171, 158, 179);
      @include respond5(contentBreak){
           margin-bottom: 10px;
        }
}

.selectop {
    width: 240px;
    height: 40px;
    color: rgb(111, 94, 122);
     background-color: rgb(20, 17, 26);
    border-radius: 5px;
    outline: none;
    color: rgb(153, 142, 168);
     border: 1px solid rgb(171, 158, 179);
    border-color: rgb(171, 158, 179);
    @include respond5(contentBreak){
           width: 300px;
           margin-bottom: 10px;
        }
}

.searchbtn {
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to top, rgb(50, 39, 59), rgb(187, 172, 199));
    border-radius: 5px;
    border-style: none;
    outline: none;
     @include respond5(contentBreak){
           width: 300px;
        }
}

.resetIcon {
    width: 18px;
    transition: .5s ease-in-out;
}

.turn {
    transform: rotate(360deg);
}