@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';


.searchFields {
    width: 96%;
    @include center-content-row;
    margin: 0px  20px 30px 20px;
    @include respond5(contentBreak){
            flex-direction: column;
        }
}

.searchOptions {
    width: 300px;
    height: 40px;
    font-size: 1rem;
    color: rgb(198, 184, 206);
    letter-spacing: 1px;
    font-weight: bold;
    @include center-content;
    border: 1px solid rgb(196, 186, 207);
    border-right: 0;
      @include respond5(contentBreak){
           margin-bottom: 10px;
           border-right: 1px solid rgb(196, 186, 207);
        }
}

.selectop {
    width: 240px;
    height: 40px;
    color: rgb(111, 94, 122);
    background-color: transparent;
    border-right: 0px;
    outline: none;
    padding-left: 10px;
    color: rgb(153, 142, 168);
    border-color: rgb(196, 186, 207);
    @include respond5(contentBreak){
           width: 300px;
           margin-bottom: 10px;
           border: 1px solid rgb(149, 136, 158);
        }
}

select {
      border: 1px solid rgb(73, 62, 80);
}

.searchbtn {
    width: 120px;
    height: 40px;
    background: rgb(199, 184, 211);
    border: 0;
    border-top: 1px solid white;
    outline: none;
     @include respond5(contentBreak){
           width: 300px;
        }
}

.resetIcon {
    width: 18px;
    transition: .5s ease-in-out;
}

.turn {
    transform: rotate(360deg);
}