@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';


.sidebar {
  
    width: 35%;
    height: auto;
    margin: 60px 20px 0 20px;
    @include respond1(removeSidebar){
          display: none;
        }

        &_content {
            width: 100%;
            height: auto;
        }

        &_content2 {
            @include center-content-column-top;
            width: 100%;
            height: 907px;
            background-image: linear-gradient(to top, rgb(63, 0, 0),  rgb(85, 0, 0));
            margin-top: 30px;
            border-top: 1px solid rgb(128, 0, 0);
            // border-bottom: 2px solid rgb(27, 0, 0);
            box-shadow: 1px 2px 2px rgb(15, 0, 0);
            padding: 20px;
            & :hover:nth-child(2) .sidebarimg {
                    opacity: 1;
                 }
            & :hover:nth-child(3) .sidebarimg {
                    opacity: 1;
                 }
    
            .recentlySold {
                width: 100%;
                height: auto;
                color: rgb(186, 166, 194);
                padding: 10px 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                border-bottom: 1px solid rgb(186, 166, 194);
                margin-bottom: 30px;
            }

            & .imageBox {
                position: relative;
                margin-bottom: 28px;
                width: 100%;
                @include center-content;
                height: auto;
                line-height: 0;
                
                .sidebarimg{
                    max-width: 310px;
                    height: auto;
                    opacity: 1;
                    transition: .5s ease-in-out;
                    box-shadow: 0px 4px 4px rgb(34, 0, 0);
                    & img {
                        width: 100%;
                        height: auto;
                    }
               }

               .sidebartext {
                position: absolute;
                background-color: rgb(68, 0, 0);
                width: 310px;
                height: 50px;
                @include center-content;
                justify-content: space-around;
                bottom: 0;
                font-size: .8rem;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 2px;
                color: rgb(188, 177, 206);
                z-index:10;
                border-bottom: 1px solid rgb(199, 0, 0);
                @include respond10(thirteenhundred){
                     font-size: .9rem;
                }

                .soldPrice {
                    color: rgb(197, 0, 0);
                    font-weight: bold;
                }
                }
            }
     }
}
