@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';


.content2_property {
        position: relative;
        margin-bottom: 30px;
        @include spacebetween-content-top;
        width: 96%;
        color: rgb(186, 166, 194);
        box-shadow: 0px 1px 2px rgb(53, 0, 0);
        background-image: linear-gradient(to top, rgb(61, 0, 0),  rgb(85, 0, 0));
        height: 205px;
        border-top: 1px solid rgb(143, 0, 0);
        border-bottom: 2px solid rgb(37, 0, 0);
        transition: all .5s ease-in-out;
        &.enlarge {
        height: 410px;
       }

        @include respond5(contentBreak){
            width: 300px;
            height: 550px;
             @include center-content-column-top;
             &.enlarge {
              height: 550px;
        }
    
        }

        &_castleImage {
        padding: 10px;
        display: block;
        width: 300px;
        }

        &_castleImage {
        padding: 10px;
        display: block;
        width: 300px;
    }

        &_info {
        width: 30%;
        height: auto;
        margin: 15px 0;
        @include center-content-column-start-top;
        @include respond5(contentBreak){
            width: 100%;
            margin-left: 25px;
            margin-top: 10px;
            margin-bottom: 0;
        }
      
        .title {
            font-size: 1.2rem;
            margin-bottom: 20px;
            @include respond5(contentBreak){
            margin-bottom: 10px;
        }

            & h5 {
                color: rgb(207, 193, 214);
            }
        }

        .location {
            line-height: 1.6;
            font-size: .8rem;

            & span {
                font-weight: bold;
            }
        }


        .icons {
            margin-top: 20px; 
            @include center-content-row;
             color: rgb(182, 165, 190);

            & :not(:first-child) {
                border-left: 1px solid rgb(124, 113, 136);
                padding-left: 10px;
            }

            & .icon {
                height: 20px;
                padding-right: 10px;
                @include center-content-row;

            & img {
                margin-left: 5px;
            }
        }
        }

        .price {
            margin-top: 20px;
            color: rgb(187, 0, 0);
            
            & span {
                font-weight: bold;
            }
        }

    }
        .like {
            position: absolute;
            top: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index:2;

            &_icon {
                width: 100%;
                height: auto;
            }
        }
}



    
