* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 0, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: rgb(100, 0, 0); 
  border-radius: 10px;
  box-shadow: inset 0 0 5px black; 
}

// //Chrome & Safari ( scrollbar is hidden by default )
// ::-webkit-scrollbar {
//   width: 12px; 
//   background-color: #bfb5c2;
//   display: none;
// }

// ::-webkit-scrollbar {
//     -ms-overflow-style: none;  /* Edge */
//     scrollbar-width: none;     /* Firefox */
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #625469;
//   box-shadow: inset 0 0 10px rgb(11, 6, 12);
//   border-radius: 50px;
// }

// //Firefox
// @-moz-document url-prefix() {
//   .scroller {
//     scrollbar-width: thin;
//     scrollbar-color: #544a61;
//   }
// }