//Position content
@mixin center-content {
  display: flex;
 align-items: center;
 justify-content: center;
}

@mixin center-content-column {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

@mixin center-content-column-start {
 display: flex;
 align-items: flex-start;
 justify-content: space-around;
 flex-direction: column;
}

@mixin center-content-column-start-top {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
}

@mixin center-content-row {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction:row;
}

@mixin center-content-row-start {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-direction:row;
}

@mixin center-content-row-start-top {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction:row;
}


@mixin spacebetween-content {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
}

//Media queries

@mixin respond2($breakpoint) { 
  @if $breakpoint == gridcontainer {    
    @media only screen and (max-width: 1080px) {
      @content;
    }
  }
}

@mixin respond5($breakpoint) { 
  @if $breakpoint == contentBreak {    
    @media only screen and (max-width: 750px) {
      @content;
    }
  }
}

@mixin respond($breakpoint) { 
  @if $breakpoint == hamburgermenu {    
    @media only screen and (max-width: 800px) {
      @content;
    }
  }
}

@mixin respond3($breakpoint) { 
  @if $breakpoint == smallest {    
    @media only screen and (max-width: 530px) {
      @content;
    }
  }
}

@mixin respond4($breakpoint) { 
  @if $breakpoint == ellielogo {    
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}