@font-face {
    font-family: 'Chopin';
    src: url('../../fonts/ChopinScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Alex';
    src: url('../../fonts/AlexBrush-Regular.ttf') format('truetype');
}

//colors
$elliecolor: rgb(55, 39, 75);
$elliecolorlight: rgb(134, 120, 151);

//font-family
$elliefont: 'Chopin';
$dreamfont: 'Alex';

