@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.enquiryForm{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-width: 0 10px 10px 10px;
    border-color:  rgb(240, 236, 245);
    border-style: solid;
    top:0;
    width: 100%;
    height: 205px;
    background-color: rgb(168, 0, 0);
    box-shadow: 0px 2px 3px rgb(196, 192, 199);
    z-index: 1;
    animation: show-form .8s ease-in-out;
    opacity: 1;
    color: white;

    &.show {
    top: 205px;
      @keyframes show-form {
           0% {
             opacity: 0;
           }
           100% {
             opacity: 1;
           }
      }
       @include respond5(contentBreak){
            top: 10px;
            height: 540px;
            background-image: linear-gradient(to top, rgb(116, 0, 0), rgb(189, 0, 0));
        }

    }
}

.enquiryForm_close {
       width: 100%;
       height: 35px;
       display:flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       padding: 0 10px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: .9rem;
       border-bottom: 1px solid rgb(240, 236, 245);
        @include respond5(contentBreak){
             border-bottom: 0;
             padding: 0;
        }

       & :nth-child(1) {
       display:flex;
       align-items: center;
       justify-content: flex-start;
       width: 5%;
       height: 30px;
    }

       & :nth-child(2) {
       display:flex;
       align-items: center;
       justify-content: center;
       width: 90%;
       height: 30px;
        @include respond5(contentBreak){
            display:none;
        }

       & :nth-child(1) {
         display:flex;
       align-items: center;
       justify-content: flex-end;
         color: rgb(255, 255, 255);
         width: 50%;
       }

       & :nth-child(2) {
         display:flex;
       align-items: center;
       justify-content: flex-start;
       font-weight: bold;
         color: rgb(255, 255, 255);
         width: 50%;
         @include respond5(contentBreak){
            display:none;
            width: 0;
        }
       }
    }

       & :nth-child(3) {
       display:flex;
       align-items: center;
       justify-content: flex-end;
       width: 5%;
       height: 30px;

       .closeBtn {
       cursor: pointer;
       width: 20px;
       height: 20px;
       @include respond5(contentBreak){
            margin-top: 30px;
        }
    }
  }
       
}

.enquiryFormHeader {
       display:none;
       align-items: center;
       justify-content: center;
      margin: 15px 0;
      @include respond5(contentBreak){
       display: flex;
       flex-direction: column;
      
      & span {
        margin-top: 10px;
      }
      & .makeEnquiry {
        font-size: 1rem;
      }
      & .castleName {
        font-weight: bold;
        letter-spacing: 1px;
      }
}
}

.form {
  width: 100%;
}

.enquiryForm_inputfields {
       width: 100%;
       display:flex;
       align-items: flex-start;
       justify-content: center;
       flex-direction: row;
       padding: 0 10px;
       @include respond5(contentBreak){
             flex-direction: column;
        }

       &_name {
         width: 50%;
        display:flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
      @include respond5(contentBreak){
              width: 100%;
        }
       .sendRequestBtn {
         width: 90%;
    
       & button {
           width: 100%;
           height: 33px;
           margin-top: 26px;
           border-style: none;
           outline: none;
           background-image: linear-gradient(to top, rgb(116, 0, 0), rgb(207, 0, 0));
           color: white;
            @include respond5(contentBreak){
              height: 43px;
              margin-top: 20px;
              box-shadow: 0px 3px 3px rgb(90, 0, 0);
              border-top: 1px solid rgb(255, 8, 8);
            }
         }
        }
       }

       & label {
         width: 90%;
         display:block;
         color: white;
         font-size: .9rem;
         margin-bottom: 10px;
       }

       & input {
         width: 90%;
         margin-bottom: 10px;
         height: 30px;
         padding-left: 5px;
         border-style: none;
         outline: none;
         font-size: .9rem;
       }
}

.logo {
  display: none;

  @include respond5(contentBreak){
              display: flex;
              width: 70px;
              margin-top: 35px;
              -webkit-filter: drop-shadow(0px 3px 1px rgb(12, 0, 0));
              filter: drop-shadow(0px 2px 1px rgb(8, 0, 0));
            }
}

 