@import '../../sassStyles/abstracts/variables';
@import '../../sassStyles/abstracts/mixins';

.mapEnquiryBox {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    @include respond5(contentBreak){
            flex: none; 
            width: 100%;
            align-items: flex-start;
            padding: 0 10px
        }
}

.map {
    position: relative;
    height: 150px;
    cursor: pointer;
    @include center-content;
    @include respond5(contentBreak){
            height: 120px;
        }

    .regionName {
     position: absolute;
     @include center-content;
     background-image: linear-gradient(to top, rgb(119, 0, 0), red);
     color: white;
     border-radius: 5px;
     width: 120px;
     height: 25px;
     font-size: .8rem;
     opacity: 1;
     box-shadow: 0px 2px 4px rgb(64, 55, 68);
     transition: all .3s ease-in-out;

     &.hide {
       opacity:0;
     }
}

}

.enquiry {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to top, rgb(119, 0, 0), red);
    color: white;
    border-style: none;
    cursor: pointer;
    @include respond5(contentBreak){
            width: 100%;
            margin-bottom: 10px;
        }
}