@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.enquiryForm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-width: 0 10px 10px 10px;
  border-color: rgb(65, 0, 0);
  border-style: solid;
  top: 0;
  width: 100%;
  height: 205px;
  box-shadow: 0px 2px 3px rgb(39, 0, 0);
  z-index: 1;
  animation: show-form 0.8s ease-in-out;
  opacity: 1;
  color: white;
  background-image: linear-gradient(to top, rgb(65, 0, 0), rgb(153, 0, 0));
}
.enquiryForm.show {
  top: 205px;
}
@keyframes show-form {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 750px) {
  .enquiryForm.show {
    top: 10px;
    height: 540px;
    background-image: linear-gradient(to top, rgb(116, 0, 0), rgb(189, 0, 0));
  }
}

.enquiryForm_close {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(216, 210, 224);
}
@media only screen and (max-width: 750px) {
  .enquiryForm_close {
    border-bottom: 0;
    padding: 0;
  }
}
.enquiryForm_close :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5%;
  height: 30px;
}
.enquiryForm_close :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30px;
}
@media only screen and (max-width: 750px) {
  .enquiryForm_close :nth-child(2) {
    display: none;
  }
}
.enquiryForm_close :nth-child(2) :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(229, 225, 235);
  width: 50%;
}
.enquiryForm_close :nth-child(2) :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  color: rgb(229, 225, 235);
  width: 50%;
}
@media only screen and (max-width: 750px) {
  .enquiryForm_close :nth-child(2) :nth-child(2) {
    display: none;
    width: 0;
  }
}
.enquiryForm_close :nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 5%;
  height: 30px;
}
.enquiryForm_close :nth-child(3) .closeBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 750px) {
  .enquiryForm_close :nth-child(3) .closeBtn {
    margin-top: 30px;
  }
}

.enquiryFormHeader {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
@media only screen and (max-width: 750px) {
  .enquiryFormHeader {
    display: flex;
    flex-direction: column;
  }
  .enquiryFormHeader span {
    margin-top: 10px;
  }
  .enquiryFormHeader .makeEnquiry {
    font-size: 1rem;
  }
  .enquiryFormHeader .castleName {
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.form {
  width: 100%;
}

.enquiryForm_inputfields {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
}
@media only screen and (max-width: 750px) {
  .enquiryForm_inputfields {
    flex-direction: column;
  }
}
.enquiryForm_inputfields_name {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .enquiryForm_inputfields_name {
    width: 100%;
  }
}
.enquiryForm_inputfields_name .sendRequestBtn {
  width: 90%;
}
.enquiryForm_inputfields_name .sendRequestBtn button {
  width: 100%;
  height: 33px;
  margin-top: 10px;
  border-style: none;
  outline: none;
  border-top: 1px solid rgb(255, 8, 8);
  box-shadow: 0px 2px 2px rgb(66, 0, 0);
  background-color: rgb(150, 0, 0);
  color: rgb(221, 216, 230);
}
@media only screen and (max-width: 750px) {
  .enquiryForm_inputfields_name .sendRequestBtn button {
    height: 43px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px rgb(90, 0, 0);
  }
}
.enquiryForm_inputfields ::placeholder {
  color: rgb(193, 188, 201);
}
.enquiryForm_inputfields input {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 12px;
  height: 30px;
  padding-left: 5px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid rgb(208, 203, 218);
  background-color: transparent;
  font-size: 0.9rem;
}

.logo {
  display: none;
}
@media only screen and (max-width: 750px) {
  .logo {
    display: flex;
    width: 70px;
    margin-top: 35px;
    -webkit-filter: drop-shadow(0px 3px 1px rgb(12, 0, 0));
    filter: drop-shadow(0px 2px 1px rgb(8, 0, 0));
  }
}