* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #bfb5c2;
  display: none;
}

::-webkit-scrollbar {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-thumb {
  background-color: #625469;
  box-shadow: inset 0 0 10px rgb(11, 6, 12);
  border-radius: 50px;
}

@-moz-document url-prefix() {
  .scroller {
    scrollbar-width: thin;
    scrollbar-color: #544a61;
  }
}
@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.footer {
  position: relative;
  width: 100%;
  height: 48rem;
  background-color: rgb(65, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (max-width: 1080px) {
  .footer {
    height: 65rem;
    border-top: 1px solid rgb(84, 73, 95);
  }
}
@media only screen and (max-width: 750px) {
  .footer {
    height: 125rem;
  }
}
.footer_content_gridContainer {
  width: 100%;
  box-shadow: 0px 28px 28px -28px black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  background-color: rgb(130, 116, 151);
  border-top: 1px solid rgb(130, 116, 151);
}
@media only screen and (max-width: 1080px) {
  .footer_content_gridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: rgb(70, 59, 80);
  }
  .footer_content_gridContainer :nth-of-type(5) {
    order: 1;
  }
}
@media only screen and (max-width: 750px) {
  .footer_content_gridContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
    background-color: rgb(70, 59, 80);
  }
}
.footer_content_box.three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_content_box.three .winner {
  margin-top: 10px;
}
.footer_content_box.four {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer_content_box.four .contactInfo {
  font-size: 1rem;
  width: 50%;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer_content_box.four .contactInfo.branch {
  border-left: 1px solid rgb(97, 89, 107);
}
.footer_content_box.four .contactInfo_title {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid rgb(115, 105, 128);
}
.footer_content_box.four .contactInfo_address {
  padding-left: 10px;
}
.footer_content_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 18rem;
  color: rgb(134, 123, 145);
  padding: 20px;
  background-color: rgb(65, 0, 0);
}
.footer_content_box.contact {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}
.footer_content_box .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer_content_box .icons .icon {
  padding: 5px;
}
.footer_content_box img {
  width: 75px;
  margin-top: 12px;
}
.footer_content_box.icontitle {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .footer_content_box.icontitle {
    align-items: center;
    justify-content: center;
  }
}
.footer_content_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer_content_ellieName {
  font-family: "Chopin";
  color: rgb(134, 120, 151);
  font-size: 3rem;
}
.footer_content_your_castle {
  font-size: 15px;
  color: rgb(134, 120, 151);
  font-family: "Times";
  top: 65px;
}
.footer .allrightsreserved {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: black;
  color: rgb(98, 84, 107);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.offices {
  position: absolute;
  bottom: 50px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: rgb(126, 115, 138);
  gap: 1px;
}
@media only screen and (max-width: 750px) {
  .offices {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 12px;
    bottom: 90px;
    height: 9rem;
  }
}
.offices .office {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .offices .office {
    padding: 20px;
  }
}
.offices .office .loc-address {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.offices .office .loc-address.bern {
  padding-right: 25px;
}
.offices .office_region {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}