@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.mapEnquiryBox {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}
@media only screen and (max-width: 750px) {
  .mapEnquiryBox {
    flex: none;
    width: 100%;
    align-items: flex-start;
    padding: 0 15px;
  }
}

.map {
  position: relative;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .map {
    height: 120px;
  }
}
.map .regionName {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, rgb(119, 0, 0), red);
  color: white;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  font-size: 0.8rem;
  opacity: 1;
  box-shadow: 0px 2px 4px rgb(64, 55, 68);
  transition: all 0.3s ease-in-out;
}
.map .regionName.hide {
  opacity: 0;
}

.enquiry {
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to top, rgb(65, 0, 0), rgb(180, 0, 0));
  color: white;
  border-style: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .enquiry {
    width: 100%;
    margin-bottom: 20px;
  }
}