@font-face {
  font-family: "Chopin";
  src: url("../../fonts/ChopinScript.ttf") format("truetype");
}
@font-face {
  font-family: "Alex";
  src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Digi";
  src: url("../../fonts/Digizen.ttf") format("truetype");
}
.content2_property {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 96%;
  color: rgb(186, 166, 194);
  box-shadow: 0px 1px 2px rgb(53, 0, 0);
  background-image: linear-gradient(to top, rgb(61, 0, 0), rgb(85, 0, 0));
  height: 205px;
  border-top: 1px solid rgb(143, 0, 0);
  border-bottom: 1px solid rgb(37, 0, 0);
  transition: all 0.5s ease-in-out;
}
.content2_property.enlarge {
  height: 410px;
}
@media only screen and (max-width: 750px) {
  .content2_property {
    width: 300px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .content2_property.enlarge {
    height: 550px;
  }
}
.content2_property_castleImage {
  padding: 10px;
  display: block;
  width: 300px;
}
.content2_property_castleImage {
  padding: 10px;
  display: block;
  width: 300px;
}
.content2_property_info {
  width: 30%;
  height: auto;
  margin: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .content2_property_info {
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.content2_property_info .title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media only screen and (max-width: 750px) {
  .content2_property_info .title {
    margin-bottom: 10px;
  }
}
.content2_property_info .title h5 {
  color: rgb(207, 193, 214);
}
.content2_property_info .location {
  line-height: 1.6;
  font-size: 0.8rem;
}
.content2_property_info .location span {
  font-weight: bold;
}
.content2_property_info .icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: rgb(182, 165, 190);
}
.content2_property_info .icons :not(:first-child) {
  border-left: 1px solid rgb(124, 113, 136);
  padding-left: 10px;
}
.content2_property_info .icons .icon {
  height: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content2_property_info .icons .icon img {
  margin-left: 5px;
}
.content2_property_info .price {
  margin-top: 20px;
  color: rgb(187, 0, 0);
}
.content2_property_info .price span {
  font-weight: bold;
}
.content2_property .like {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}
.content2_property .like_icon {
  width: 100%;
  height: auto;
}