@import '../abstracts/global';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.borderTop {
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    @include center-content-row;
    @include respond4(ellielogo){
        margin-bottom:30px;
        padding-top:30px;
    }
     

.headerMenu {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    @include respond4(ellielogo){
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }    

    &_item {
        position: relative;
        height: 40px;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 2px;
        color: rgb(43, 34, 49);
        @include center-content;
        border-left: 1px solid rgb(157, 145, 167);
        cursor: pointer;
        background: rgb(209, 200, 219);
        transition: all .5s ease-in-out;

        @include respond4(ellielogo){
          border-bottom: 1px solid rgb(157, 145, 167);
        }    

        &:hover {
            background: rgb(89, 78, 102);
            color: white;
        }
       } 

      }
    }


.mainContentWrapper {
    margin: 0 auto;
    max-width: 1920px;
    margin-bottom: 100px;
    background-color: $dominantbackground;
    @include center-content;

    @include respond1(removeSidebar){
            margin-bottom: 0;
        }
}

.realEstatesWrapper {
    width: 100%;
    height: auto;
    @include center-content-row-top;
    flex-direction: row;
    @include respond5(contentBreak){
          height: 4000px;
        }
        @include respond1(removeSidebar){
           height: auto;
        }
}

.searchbarAndListItems {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    margin-top: 60px;
    color: rgb(76, 61, 78);
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 20px 0 20px;
    // border: 1px solid red;

    & .searchError {
        margin-top: 50px;
        color: rgb(199, 191, 212);
        letter-spacing: 2px;
    }

     @include respond1(removeSidebar){
          width: 96%;
        }
     @include respond5(contentBreak){
          height: 3250px;
        }
}

.btns {
    margin: 10px auto;
    width: auto;
    padding-bottom: 50px;
    @include spacebetween-content;
}

.paginationBtn {
    width: 40px;
    height: 40px;
    border-style: none;
    color: rgb(86, 75, 102);
    background-color: rgb(158, 145, 173);
    box-shadow: 0px 1px 2px rgb(53, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;

    &.active {
        background-color: rgb(136, 0, 0);
        color: rgb(222, 208, 224);
    }
}

.content_subscription {
    padding: 50px 20px;
    height: auto;
    width: 100%;
    background-color: $dominantbackground;
    // border-top: 1px solid rgb(110, 101, 124);
    @include center-content-row;
    gap: 20px;
    display: none;
    @include respond1(removeSidebar){
        display: flex;
           padding: 0 50px 80px 50px;
    }

    .finance {
        width: 50%;
        height: 275px;
        background-image: linear-gradient(to top, rgb(63, 0, 0),  rgb(85, 0, 0));
         border-top: 1px solid rgb(124, 0, 0);
    border-bottom: 2px solid rgb(24, 0, 0);
        color:rgb(165, 156, 179);
        @include center-content-row;
         @include respond2(gridcontainer){
        display: none;
    }
    }

    .news {
        width: 50%;
         @include respond2(gridcontainer){
        width: 100%;
    }
    }
}