@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';

.borderTop {
    width: 100%;
    margin-bottom: 0px;
    @include center-content-row;
     @include respond9(sidebarDelete){
           margin-top: 30px;
        }
    @include respond4(ellielogo){
        margin-bottom:40px;
    }
     

.headerMenu {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    box-shadow: 0 4px 4px -4px rgb(157, 153, 161);
    @include respond4(ellielogo){
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }    

    &_item {
        position: relative;
        height: 40px;
        font-size: .9rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 2px;
        color: rgb(89, 74, 100);
        @include center-content;
        border-left: 1px solid rgb(157, 145, 167);
        border-bottom: 1px solid rgb(182, 170, 192);
        cursor: pointer;
        background: rgb(215, 210, 221);
        transition: all .5s ease-in-out;

        &:hover {
            background: rgb(162, 154, 172);
            color: white;
        }
       } 

      }
    }

.blockTop {
    height: 450px;
    @include center-content-row-start;
    background-image: linear-gradient(to top, rgb(20, 17, 26),  rgb(42, 36, 49));
    border-bottom: 1px solid rgb(110, 101, 124);
    &_imageBox {
        width: 100%;
         margin-left: 40px;
          @include center-content-row-start;
        &_image {
            width: 100%;
        }
        &_fulfill {
            width: 500px;
        }
    }
}

.blockBottom {
    height: 500px;
    background-color: rgb(20, 17, 26);
    border-top: 1px solid rgb(110, 101, 124);
}

.sidebarContentWrapper {
    width: 100%;
    display: flex;
    height: 2070px;
    justify-content: space-around;
    flex-direction: row;
    // border: 1px solid red;
    background-color: rgb(27, 22, 34);
    @include respond5(contentBreak){
          height: 4000px;
        }
}

 
.sidebar {
    position: relative;
     background-color: rgb(27, 22, 34);
    width: 30%;
    height: 2000px;
    margin-top: 60px;
    // border: 1px solid red;

    @include respond1(removeSidebar){
          display: none;
        }

        .frame {
            position: absolute;
            width: 100%;
            height: auto;
        }
}

// .sidebar2 {
//    background-color: rgb(20, 17, 26);
//     @include center-content-column-top ;
//     width: 20%;
//     height: 2030px;
//     margin-left: 0px;
//     margin-top: 20px;
    
//    @include respond1(removeSidebar){
//           display: none;
//         }
// }

.content2 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 2020px;
    background-color: transparent;
    margin-top: 60px;
    color: rgb(76, 61, 78);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    // border: 1px solid red;

     @include respond1(removeSidebar){
          width: 96%;
        }
     @include respond5(contentBreak){
          height: 4000px;
        }
}

.btns {
    margin: 20px auto;
    width: auto;
    @include spacebetween-content;
}

.paginationBtn {
    width: 50px;
    height: 50px;
    border-style: none;
    color: rgb(52, 44, 63);
    background-color: rgb(158, 145, 173);
    box-shadow: 0px 1px 2px rgb(132, 116, 141);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;

    &.active {
        background-color: rgb(90, 69, 94);
         color: rgb(222, 208, 224);
    }
}
