@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';


.container3 {
    margin: 80px auto;
    background-color: $dominantbackground;
    width: 315px;
    min-height: 100vh;
    @include respond3(smallest){
        margin: 100px auto;
    }
}

.wrapper3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(148, 133, 156); 
    color: rgb(192, 176, 202);
    margin-bottom: 10px;
    height: 50px;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name2, .pw {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pass2 {
  width: 100%;
  color: rgb(168, 156, 180);
}

input[name="username3"]{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    border-bottom: 1px solid gray;
    caret-color: rgb(187, 187, 187);
    color: rgb(201, 201, 201);
    font-size: 1rem;
}

input[name="password3"] {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    border-bottom: 1px solid gray;
    caret-color: rgb(187, 187, 187);
    color: rgb(201, 201, 201);
    font-size: 1rem;
}

.btn {
    margin-top: 10px;
    height: 50px;
     background-image: linear-gradient(to top, rgb(61, 0, 0),  rgb(85, 0, 0));
    width: 315px;
    color: rgb(177, 164, 184);
    border-style: none;
    border-top: 1px solid rgb(116, 51, 51);
    border-bottom: 2px solid rgb(44, 0, 0);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: rgb(179, 179, 179);
}

label {
    color: rgb(63, 56, 73);
    width: 10%;
}

.showPass {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  color: rgb(168, 156, 180);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.error {
   font-size: 1rem;
   color: red;

}

.loginSuccess {
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: green;
   color: white;
}

.overlayShow {
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    opacity: 0;
    animation: fadeinout 5s ease-in-out;
    animation-fill-mode: forwards;
}

.registerednameShow {
    margin: 200px auto;
    width: 300px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  rgb(185, 168, 197);
    border-radius: 10px;
    font-size: 1.4rem;
    color: rgb(23, 18, 26);
    padding: 15px;
    border: 1px solid rgb(28, 24, 31);
    box-shadow: 0px 2px 18px rgb(53, 53, 53);
    opacity: 0;
    animation: fadeinout 5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeinout {
  0% {
    opacity: 0
  }
  30% {
    opacity: 1
  }
  40% {
    opacity: 1
  }
  50% {
    opacity: 1
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.welcome {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.goToRegister {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    @include center-content;
}

.goToRegisterText {
    color: rgb(153, 0, 0);
}


//  input[type="checkbox"] {
//   filter: invert(80%) hue-rotate(8deg) brightness(1.2);
// }

