@import '../abstracts/variables';
@import '../abstracts/global';
@import '../abstracts/mixins';


.container2 {
    margin: 50px auto;
    width: 700px;
    height: 100vh;
}

.wrapper2 {
    background-image:url('../../assets/icons/ellielogo.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include respond5(contentBreak){
            background-image:url('');
        
    }
}



.register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(87, 77, 99);
    color: rgb(223, 209, 230);
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.pass {
    color: rgb(70, 60, 80);
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.lastname, .firstname {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.name {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.textInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: rgb(70, 60, 80);
}

.address2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

input[name="address"] {
    width: 72%;
    height: 20px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    color: rgb(52, 43, 59);
    font-size: 1rem;
}

.number  {
    width: 10%;
    height: 20px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
     color: rgb(52, 43, 59);
    font-size: 1rem;
}

input[name="lastname"], 
input[name="firstname"], 
input[name="email"],
input[name="country"], 
input[name="city"],
input[name="telephone"],
input[name="password"],
input[name="telephone"],
input[name="repeatpassword"],
input[name="zip"],
input[name="username"]
 {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    color: rgb(52, 43, 59);
    font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color:  rgb(189, 189, 189);
    transition: background-color 5000s ease-in-out 0s;
}

.numLabel {
    width: 10%;
    margin-left: 10px;
    color: rgb(70, 60, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.number {
    width: 15%;
}

.street {
    width: 70%;
}

.submitBtn {
    margin-top: 20px;
    height: 50px;
    background-color: rgb(87, 77, 99);
    color: rgb(223, 209, 230);
    width: 100%;
    border-style: none;
    font-size: 1.2rem;
    font-family: 'Times new roman', 'serif';
}

::placeholder {
    color: rgb(179, 179, 179);
}



@media only screen and (max-width: 900px){
    .container2 {
        width: 80%;
        margin-bottom: 350px;
    }
    .name, .address2, .lastname, .firstname {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2px;
    }

    .textInput {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    form {
        margin-top: 20px;
    }

    input[name="address"] {
        width: 100%;
    }

    input[type="number"] {
        width: 100%;
    }

    .numLabel {
       margin-top: 10px;
       margin-left: 0;
    }

    .street, .number {
        width: 100%;
    }
}

.choose {
   display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(87, 77, 99);
    color: rgb(223, 209, 230);
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}

.goToLogin {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    @include center-content;
}
